[submodule "deps/ef"]
	path = deps/ef
	url = https://github.com/grumply/ef
	branch = master
[submodule "deps/trivial"]
	path = deps/trivial
	url = https://github.com/grumply/trivial.git
	branch = master